h1,
h2,
h3,
h4,
h5 {
  color: red;
}
#p1 {
  font-size: 30px;
}
img {
  float: left;
  border-radius: 65px;
  margin: 20px;
  box-shadow: 5px 5px 2px 2px;
}

ul {
  margin: 20px;
}

table,
td,
th,
thead {
  border: 1px solid;
  padding: 3px;
}
